<div class="container">
    <div class="secsion-product">
        <img src="/images/logopro.png" alt="Sản Phẩm">
        <h1 style="color: #EC6A00;">Best-Seller</h1>
    </div>
    <div class="products">
        
        <!-- Example Product Card -->
        <div class="product-1">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/ocque.png" alt="Kem cam lốc xoáy">
                <h2 class="product-name">Kem Ốc Quế Matcha</h2>
                <p class="product-price">12.000 ₫ <span class="old-price">20.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/download.jpg" alt="Hồng Trà Kem">
                <h2 class="product-name">Kem Ốc Quế</h2>
                <p class="product-price">10.000 ₫ <span class="old-price">20.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/sinhtokemtuoi.png" alt="Sữa Kem Lắc Đào">
                <h2 class="product-name">Sinh Tố Kem Tươi Macha</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">30.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/traicayduaxoai.png" alt="Sữa Kem Lắc Dâu Tây">
                <h2 class="product-name">Nước Trái Cây Dừa Xoài</h2>
                <p class="product-price">35.000 ₫ <span class="old-price">45.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
        </div>
        

        </div>
    
    </div>
</div>
