<div class="slider">
    <img src="/images/banner.jpg" alt="Banner">
</div>

        <div class="main1700">
            <div class="nnav_main">
                <ul class="nnav_ul clear">
                    <li><a href="best.html"><span>Best-seller</span></a></li>
                    <li><a href="kem.html"><span>Kem Và Trà</span></a></li>
                    <li><a href="nuoc.html"><span>Nước Dừa Bingxue</span></a></li>
                    <li><a href="tra.html"><span>Trà Hoa Quả Tươi</span></a></li>
                    <li><a href="trasua.html"><span>Trà Sữa Bingxue Tea</span></a></li>
                </ul>
            </div>
        </div>

<div class="container">
    <div class="secsion-product">
        <img src="/images/logopro.png" alt="Sản Phẩm">
        <h1 style="color: #EC6A00;">Nước Dừa Bingxue</h1>
    </div>
    <div class="products">
        
        <!-- Example Product Card -->
        <div class="product-1">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/daococo.png" alt="Kem cam lốc xoáy">
                <h2 class="product-name">Nước Trái Cây Dừa Đào</h2>
                <p class="product-price">32.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/xoaicoco.png" alt="Hồng Trà Kem">
                <h2 class="product-name">Nước Trái Cây Dừa Xoài</h2>
                <p class="product-price">35.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
        </a>
        </div>
    </div>
</div>