<div class="container">
    <div class="secsion-product">
        <img src="/images/logopro.png" alt="Sản Phẩm">
        <h1 style="color: #EC6A00;">Kem Và Trà</h1>
    </div>
    <div class="products">
        
        <!-- Example Product Card -->
        <div class="product-1">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/ocque.png" alt="Kem cam lốc xoáy">
                <h2 class="product-name">Kem Ốc Quế Matcha</h2>
                <p class="product-price">12.000 ₫ <span class="old-price">20.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/dáoun.png" alt="Hồng Trà Kem">
                <h2 class="product-name">Sunade Đào</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/sinhtokemtuoi.png" alt="Sữa Kem Lắc Đào">
                <h2 class="product-name">Sinh Tố Kem Tươi Macha</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">30.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/hongtrachanh.png" alt="Sữa Kem Lắc Mâm Xôi">
                <h2 class="product-name">Hồng Trà Chanh</h2>
                <p class="product-price">15.000 ₫ <span class="old-price">25.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
        </div>
        <div class="product-2">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/sunadexoai.png" alt="Super Sunade Xoài">
                <h2 class="product-name">Sunade Xoài</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">30.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/dautausun.png" alt="Super Sunade Dâu Tây">
                <h2 class="product-name">Sunade Dâu Tây</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/download.jpg" alt="Hồng Trà Kem">
                <h2 class="product-name">Kem Ốc Quế</h2>
                <p class="product-price">10.000 ₫ <span class="old-price">20.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img height="210px" src="images/den.png" alt="Sữa Kem Lắc Dâu Tây">
                <h2 class="product-name">Sunade Trân Châu Đường Đen</h2>
                <p class="product-price">35.000 ₫ <span class="old-price">45.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
        </div>
    
    </div>
</div>