<div class="slider">
    <img src="/images/banner.jpg" alt="Banner">
</div>

        <div class="main1700">
            <div class="nnav_main">
                <ul class="nnav_ul clear">
                    <li><a href="best.html"><span>Best-seller</span></a></li>
                    <li><a href="kem.html"><span>Kem Và Trà</span></a></li>
                    <li><a href="nuoc.html"><span>Nước Dừa Bingxue</span></a></li>
                    <li><a href="tra.html"><span>Trà Hoa Quả Tươi</span></a></li>
                    <li><a href="trasua.html"><span>Trà Sữa Bingxue Tea</span></a></li>
                </ul>
            </div>
        </div>

<div class="container">
    <div class="secsion-product">
        <img src="/images/logopro.png" alt="Sản Phẩm">
        <h1 style="color: #EC6A00;">Trà Sữa Bingxue Tea</h1>
    </div>
    <div class="products">
        
        <!-- Example Product Card -->
        <div class="product-1">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/suadaomatong.png" alt="Kem cam lốc xoáy">
                <h2 class="product-name">Trà Sữa Dâu Tây</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">35.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/suanho.png" alt="Hồng Trà Kem">
                <h2 class="product-name">Trà Sữa Khoai Môn</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/teavacf.png" alt="Sữa Kem Lắc Đào">
                <h2 class="product-name">Trà Sữa Thạch Dừa</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">35.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/thapcam.png" alt="Sữa Kem Lắc Mâm Xôi">
                <h2 class="product-name">Trà Sữa Ngưu Ma Vương</h2>
                <p class="product-price">30.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
        </div>
        <div class="product-2">
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/tcdd.png" alt="Super Sunade Xoài">
                <h2 class="product-name">Trà Sữa Trân Châu Đường Đen</h2>
                <p class="product-price">30.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/nhaisua.png" alt="Super Sunade Dâu Tây">
                <h2 class="product-name">Trà Sữa Hương Nhài</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">40.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            <a style="text-decoration: none;" href="">
                <div class="product-card">
                <img src="images/peach.png" alt="Hồng Trà Kem">
                <h2 class="product-name">Trà Sữa Đào</h2>
                <p class="product-price">25.000 ₫ <span class="old-price">35.000 ₫</span></p>
                <a href="#" class="buy-now-btn">Mua ngay</a>
            </div>
            </a>
    
            
            </a>
        </div>
    
    </div>
</div>
