* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.navbar {
    position: sticky; /* Hoặc có thể dùng 'fixed' */
    top: 0;
    align-items: stretch;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    padding-left: 40px;
    line-height: 30px;
    background-color:  #ffffff;
    gap: 20px;
}

.navbar .logo {
    width: 200px;
    font-weight: bold;
    color:#FF6F00;
    border-radius: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    /* gap: 10px; */
    align-items:right;
    padding-right: 50px;
}

.nav-links li a {
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative; /* Để sử dụng z-index */
    z-index: 5; /* Giá trị cao hơn các phần tử khác để hiển thị trên cùng */
}

.nav-links li img{
    width: 20px;
    height: auto;

}
/* tạo danh sách me nu bac 2-------------------------*/
.trangchu-container {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.trangchu-button {
    background-color: #ffffff; /* Màu đỏ */
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    
}

.trangchu1-button {
    background-color: #ffffff; /* Màu đỏ */
    color: rgb(0, 0, 0);
    padding-top: 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    display: inline;
    
}

.trangchu2-button {
    padding-right: 20px;
    background-color: #ffffff; /* Màu đỏ */
    color: rgb(0, 0, 0);
    padding-top: 5px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    display: inline;
    
}

.trangchu-button img{
    align-items: center;
    width: 15px;
   
}

.trangchu-button:hover {
    background-color:#FF6F00; /* Màu đỏ nhạt khi hover */
    color: rgb(255, 255, 255);
}
.home-page button {
    padding: 10px 20px;
    background-color: #d7282f;
    color: #ffffff;
    font-size: 20px; /* Tăng kích thước chữ */
    font-weight: normal; /* Đặt lại độ đậm của chữ để giống chữ bình thường */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    min-width: 300px;
    border-radius: 15px;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:#FF6F00;
    border-radius: 15px;
    color: #fff;
}


/* Hiển thị menu khi di chuột vào container */
.trangchu-container:hover .dropdown-content {
    display: block;
}

.nav-icons img {
    padding-top: 8px;
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.hero {
    width: 100%;
    background-color:#ff9525;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: #fff;
    text-align: center;
    position: relative;
    border-radius: 20px;
}



.hero-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
    background-color:#FF6F00;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.banner {
    width: 90%;
    position: relative;
    text-align: center;
    color: #f4f4f4;
    background-color:#FF6F00;
}

.banner img {
    width: 100%;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 50px;
}
.banner img:hover {
    transform: scale(1.02); /* Phóng to 120% */
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 20px; /* Căn lề trái theo khoảng cách từ bên trái */
    transform: translateY(-50%); /* Chỉ dịch chuyển theo trục Y */
    text-align: left; /* Căn lề trái cho nội dung */
    color: black;
}

.banner-content h1 {
    font-size: 40px;
    color: #ffffff;
}

.banner-content p {
    font-size: 18px;
    margin-top: 10px;
    color: #ffffff;
}

.banner-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:#FF6F00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.banner-content button:hover {
    transform: scale(1.1); /* Phóng to nút lên 10% */
}
.danhsach{
    width: 100%;
    height: auto;   /* tis thay thanh auto-------------------- */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #ebebeb;/*-----------------------------------------------------------------------*/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.product-card img:hover {
    transform: scale(1.03); /* Phóng to 120% */
}
.product-card h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.product-price, .price {
    color: #e60012;
    font-weight: bold;
    margin-bottom: 5px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}

