
<link rel="stylesheet" href="css/style.css">
<footer>
        <div class="footer-container">
            <p>Contact us anytime and leave your phone number. We will contact you within 24 hours.</p>
            <p class="hotline">Hotline: 0244 244 422</p>
            <hr>
            <div class="footer-sections">
                <div class="section">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Brand Strength</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Join us</a></li>
                        <li><a href="#">News & Activities</a></li>
                    </ul>
                </div>
                
                <div class="section">
                    <h3>Franchise</h3>
                    <ul>
                        <li><a href="#">Franchise Process</a></li>
                        <li><a href="#">Franchise Fee</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Service Support</a></li>
                    </ul>
                </div>
                
                <div class="section">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Best-seller Products</a></li>
                        <li><a href="#">Milk-tea-&-Coffee</a></li>
                        <li><a href="#">Real Fruit Tea</a></li>
                        <li><a href="#">Fruit Coconut Milk</a></li>
                        <li><a href="#">Fresh Ice Cream & Tea</a></li>
                    </ul>
                </div>
                
                <div class="section">
                    <h3>Stores</h3>
                    <ul>
                        <li><a href="#">Store Image</a></li>
                        <li><a href="#">Excellent Stores</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>