
<style>
    footer {
    background-color:#FF6F00;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 500px;
    font-family: Arial, sans-serif;
}

.footer-container p {
    margin: 0;
    padding: 0;
}
.footer-container hr{
    padding: 0px 30px;
}
.hotline {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
}

.footer-sections {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 180px;
    flex-wrap: wrap;
}

.section-foot {
    text-align: left;
    min-width: 150px;
}

.section-foot h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-foot ul {
    list-style: none;
    padding: 0;
}

.section-foot li {
    margin-bottom: 5px;
}

.section-foot a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0.9em;
}

.section-foot a:hover {
    text-decoration: underline;
}
</style>
<body>
    <footer>
        <div class="footer-container">
            <p style="color: white;">Contact us anytime and leave your phone number. We will contact you within 24 hours.</p>
            <p style="color: white;" class="hotline">Hotline: 0244 244 422</p>
            <hr>
            <div class="footer-sections">
                <div class="section-foot">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="#">Brand Strength</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Join us</a></li>
                        <li><a href="#">News & Activities</a></li>
                    </ul>
                </div>
                
                <div class="section-foot">
                    <h3>Franchise</h3>
                    <ul>
                        <li><a href="#">Franchise Process</a></li>
                        <li><a href="#">Franchise Fee</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Service Support</a></li>
                    </ul>
                </div>
                
                <div class="section-foot">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">Best-seller Products</a></li>
                        <li><a href="#">Milk-tea-&-Coffee</a></li>
                        <li><a href="#">Real Fruit Tea</a></li>
                        <li><a href="#">Fruit Coconut Milk</a></li>
                        <li><a href="#">Fresh Ice Cream & Tea</a></li>
                    </ul>
                </div>
                
                <div class="section-foot">
                    <h3>Stores</h3>
                    <ul>
                        <li><a href="#">Store Image</a></li>
                        <li><a href="#">Excellent Stores</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>