
<link rel="stylesheet" href="css/style.css">
<nav class="navbar">
        <div class="logo">
            <a href=""><img src="img/logo.png" alt="Logo" class="logo"></a>

        </div>
        <ul class="nav-links">
            <li>
                <div class="trangchu-container">
                    <button class="trangchu-button"><a href="/">Trang Chủ</a></button>
                </div>
    
            </li>
            <li>
                <a href="/about">
                    <div class="trangchu-container">
                        <button class="trangchu-button">Về Chúng Tôi</button>
                    </div></a>
            </li>
            <li>
                <div class="trangchu-container">
                    <a href="nhuongquyen.html"><button class="trangchu-button">Nhượng Quyền</button></a>
                    <div class="dropdown-content">
                        
                            <a href="#franchise-steps">Các Bước Nhượng Quyền</a>
                            <a href="#faq">Các Câu Hỏi Thường Gặp</a>
                            <a href="#service-support">Hỗ Trợ</a>
                         
                    
                    </div>
                    
                </div>
            </li>
            <li>
                <div class="trangchu-container">
                    <a href="menu.html"><button class="trangchu-button">Sản Phẩm</button></a>
                    <div class="dropdown-content">
                        <a href="best.html">Best-Seller</a>
                        <a href="kem.html">Kem Và Trà</a>
                        <a href="nuoc.html">Nước dừa Bingxue</a>
                        <a href="tra.html">Trà Hoa Quả Tươi</a>
                        <a href="trasua.html">Trà Sữa Bingxue Tea</a>
                    </div>
                </div>  
            </li>
            <li>
                <div class="trangchu-container">
                    <button class="trangchu-button">Cửa Hàng</button>
                    <div class="dropdown-content">
                        <a href="#">Hà Nội </a>
                        <a href="#">TP HCM </a>
                        
                    </div>
                </div>
            </li>
            <li>
                <a style="text-decoration: none;" href="/lienhe">
                <div class="trangchu-container">
                    <button class="trangchu-button">Liên Hệ</button>
                    
                </div></a>
            </li>
            <div class="nav-icons">
                <a href="#" class="search-icon"><img src="img/find.png" alt="Search Icon"></a>
                
            </div>
            <li>
                <a href="/login">
                    <div class="trangchu-container">
                    <button class="trangchu1-button" onclick="goToRegister()"><img src="img/dung1.png" alt="" style="width: 30px;"></button>
                </div>
                </a>
            </li> 
        
        </ul>
    </nav>