<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">

    <title>Bingxue - Về chúng tôi</title>
</head>

<body>
 
    <section class="hero">
        <div class="hero-content">
            <section class="banner">
                <a href=""><img src="img/poster1.png" alt="cua hang"></a>
            </section>
        </div>
    </section>
    <div class="navbar1">
        <a href="#brand-strength">Thương Hiệu</a>
        <a href="#brand-history">Lịch Sử Thương Hiệu</a>
        <a href="#join-us">Tham Gia Cùng Chúng Tôi</a>
        <a href="#news-events">Tin Tức & Sự Kiện</a>
    </div>

    <!-- Company Profile Section -->
    <section class="section company-profile" id="brand-strength">
        <div class="company-profile-text">
            <h1>BINGXUE</h1>
            <p>Ở đâu có người trẻ,có thời gian cho Bingxue.</p><br>
            <p>Bingxue là một chuỗi thương hiệu kem và đồ uống trà tại Trung Quốc, trực thuộc Công ty TNHH Tư vấn Quản lý Doanh nghiệp Jinan Baodao. Đây là một thương hiệu chuỗi đồ uống trà nổi tiếng của Trung Quốc tập trung vào "Kem Dừa Đặc trưng". Trụ sở chính đặt tại tỉnh Sơn Đông, Trung Quốc. Bingxue bao gồm các cửa hàng tại 31 tỉnh, thành phố bao gồm Sơn Đông, Hà Bắc, Hà Nam, Sơn Tây, Thiểm Tây, Nội Mông, Liêu Ninh, Hồ Bắc, Hải Nam và Tân Cương. Đến cuối năm 2022, số lượng cửa hàng Bingxue trên toàn thế giới đã vượt quá 3.000.Bingxue lấy "mua sắm nguồn gốc toàn cầu" làm khái niệm phát triển sản phẩm của mình. Nó luôn nhấn mạnh vào hướng nghiên cứu và phát triển "hương vị thơm ngon, thành phần tốt và giá trị bề ngoài cao". Sự ra đời của IP BoBo Bear đã mang lại thêm sức sống và niềm vui cho thương hiệu, chiếm được cảm tình của người tiêu dùng trẻ.</p>
            <div class="company-stats">
                <div>
                    <h3>2024</h3>
                    <p>Established</p>
                </div>
                <div>
                    <h3>500+</h3>
                    <p>Global employees</p>
                </div>
                <div>
                    <h3>3000+</h3>
                    <p>Global stores</p>
                </div>
            </div>
        </div>
        <div class="company-image">
            <img src="img/lichsu.png" alt="Company Image">
        </div>
    </section>

    <!-- Brand History Section -->
    <section class="section brand-history" id="brand-history">
        <h2>Lịch Sử Thương Hiệu</h2>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2022</h4>
                <p>Cuối năm 2022, Bingxue chính thức tiến vào thị trường nước ngoài, ký kết thành công hợp đồng với khách hàng Indonesia. Đồng thời, khởi công xây dựng các công ty con ở nước ngoài,..

                </p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2020</h4>
                <p>Cùng thời gian đó, công ty đã hợp tác sâu rộng với Ele.me, triển khai chiến lược chuẩn hóa thương hiệu và số lượng cửa hàng tại Trung Quốc đã vượt quá 2.000.</p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2019</h4>
                <p>Nâng cấp thương hiệu lên 5.0 năm 2019, giới thiệu nhân vật thương hiệu BoBo Bear và triển khai xây dựng hệ thống kỹ thuật số hoàn chỉnh.
                </p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2018</h4>
                <p>Trụ sở chính của thương hiệu đã đi vào Tây Thành, Tế Nam, tỉnh Sơn Đông và cửa hàng mang tính biểu tượng ở Tây Thành đã đi vào Quảng trường Thời đại Westin. Số lượng cửa hàng vượt quá 1.300,..
                </p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2017</h4>
                <p>Nâng cấp Cửa hàng 3.0 năm 2017. Cùng năm đó, công ty đã thâm nhập vào thị trường Bắc Trung Quốc, Đông Bắc Trung Quốc và Tây Bắc Trung Quốc, với tổng cộng 869 cửa hàng tại Trung Quốc.</p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <h4>2016</h4>
                <p>Thành lập Trung tâm điều hành và quản lý để hình thành chuỗi phát triển công nghiệp nghiên cứu và phát triển, mua sắm, kho bãi và hậu cần, và vận hành...</p>
            </div>
        </div>
    </section>

    <!-- Join Us Section -->
    <section class="section join-us" id="join-us">
        <h2>Tham Gia Với Chúng Tôi</h2>
        <table class="job-list">
            <thead>
                <tr>
                    <th>Position Name</th>
                    <th>Work Location</th>
                    <th>Salary</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><p>Senior E-Commerce</p></td>
                    <td>Beijing</td>
                    <td>3-4 ribu per bulan</td>
                    <td>2025-02-02</td>
                </tr>
                <tr>
                    <td>Advanced Audit</td>
                    <td>Shanghai</td>
                    <td>3-4 ribu per bulan</td>
                    <td>2025-02-02</td>
                </tr>
                <tr>
                    <td><p>Asisten Manajer Produk</p></td>
                    <td>Ri</td>
                    <td>3-4 ribu per bulan</td>
                    <td>2025-02-02</td>
                </tr>
                <tr>
                    <td>Pengawal Penjualan</td>
                    <td>Medan</td>
                    <td>3-4 ribu per bulan</td>
                    <td>2025-02-02</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <button>Previous</button>
            <button class="active">1</button>
            <button>2</button>
            <button>Next</button>
        </div>
    </section>

    <!-- News and Events Section -->
    <section class="section news-events" id="news-events">
        <h2>TIN TỨC & SỰ KIỆN</h2>
        <div class="container">
        <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc.png" alt="Bingxue store">
            <p>
                BINGXUE mở rộng lãnh thổ toàn cầu và kế thừa văn hóa trà mới</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2024.1.20</p>
            <img src="img/tintuc2.png" alt="Bingxue store">
            <p>Bingxue Brands cất cánh và vươn ra toàn cầu</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2018.12.30</p>
            <img src="img/tintuc3.png" alt="Bingxue store">
            <p>Bingxue đã có bước đột phá khi mở hơn 100 cửa hàng ở nước ngoài, nhiều người hâm mộ mới đã đến cửa hàng để...</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc4.png" alt="Bingxue store">
            <p>Bingxue tiếp tục phát triển và tìm kiếm sự tăng trưởng mới trong ngành đồ uống trà mới</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc5.png" alt="Bingxue store">
            <p>Bingxue đã có bước đột phá khi mở hơn 100 cửa hàng ở nước ngoài, để lại dấu ấn tại Đông Nam Á.</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc6.png" alt="Bingxue store">
            <p>BINXI TIME tạo ra sự đổi mới trong khi khám phá và nhanh chóng ra mắt một giai đoạn mới</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc7.png" alt="Bingxue store">
            <p>BINXI TIME hướng đến con đường phát triển đặc trưng, ​​thúc đẩy sự tăng trưởng nhanh chóng của thương hiệu bằng sự đổi mới</p>
            <a href="#">LEARN MORE</a>
          </div>
          <div class="card">
            <p>2023.11.15</p>
            <img src="img/tintuc8.png" alt="Bingxue store">
            <p>Bingxue ra khơi hướng đến thị trường nước ngoài</p>
            <a href="#">LEARN MORE</a>
          </div>
        </div>
    </section>

    <!-- News & Events Section -->
    
    
</body>
</html>
