<section class="success-section">
  <h1>Thanh toán thành công</h1>
  <p>{{message}}</p>  <!-- Hiển thị thông báo thành công -->
  <a href="/pro/donhang" class="btn">Đến đơn hàng của tôi</a>
</section>

<style>
section.success-section{
    margin-top: 150px;
    margin-bottom: 150px;
}

.success-section {
  text-align: center;
  padding: 50px;
  margin: 50px;
}

.success-section h1 {
  color: #4CAF50;
  margin-bottom: 20px;  /* Thêm khoảng cách dưới h1 */
}

.success-section p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;  /* Thêm khoảng cách dưới message */
}

.success-section .btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;  /* Thêm khoảng cách phía trên của nút */
}

.success-section .btn:hover {
  background-color: #45a049;
}
</style>
